<div class="container">
  <div class="row">
  <div class="text-center">
  <%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>
  <%= f.submit "ajouter un cocktail", class: "btn btn-primary" %>
  <%= link_to "home", cocktails_path, class: "btn btn-primary text-center" %>
<% end %>
</div>
</div>
</div>
