<br>
<br>
<div class="container">
  <div class="row ">
    <%= link_to 'new', new_cocktail_path, class: 'btn btn-danger'%>
    <p><% @cocktails.each do |cocktail| %></p>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card text-center">
        <p id="nom_restaurant"><strong>Cocktail: <%= cocktail.name.upcase %></strong> </p>
        <div class="thomas">
        <%= link_to 'voir le cocktail', cocktail_path(cocktail), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
