.card {
  height: 175px;
  text-shadow: 0 3px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  min-height: 250px;
  max-width: 350px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-position: center;
}

.card-category {
  position: absolute;
  top: 100px;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  left: 292px;
  bottom: 203px;
  color: white;
  opacity: 0.8;
}

.card-link:hover {
  opacity: 1;
}
