<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>
<div class="text-center">
<h3>Donnez nous votre avis sur le cocktail</h3>
<%= link_to "home", cocktails_path, class: "btn btn-primary" %>
</div>
<%= render 'form' %>
